.navbarShadow {
  box-shadow: 0 1px 2px #0000001f;
  background: #ffffffe0;
}

.iconWrapper {
  position: relative;
  width: 1.5rem;
}

.totalNum {
  background-color: #000;
  color: #fff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 12px;
}

.pumpAnimate {
  animation: pumping 300ms ease-out;
}

@keyframes pumping {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
